body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

p {
    margin: 0;
    cursor: default;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover !important;
}

.fadeIn {
    animation: fadeIn;
    animation-duration: 3s;
}

.zoomIn {
    animation: zoomIn;
    animation-duration: 1s;
}

.fade-transform-leave-active,
.fade-transform-enter-active {
    transition: all 0.5s;
}

.fade-transform-enter-from {
    opacity: 0;
    transform: translateX(-20px);
}

.fade-transform-leave-to {
    opacity: 0;
    transform: translateX(20px);
}

.fade-v-enter-active,
.fade-v-leave-active {
    transition: all 0.4s ease;
}

.fade-v-enter-active {
    transition-delay: 0.4s;
}

.fade-v-enter-from,
.fade-v-leave-to {
    transform: scale(0, 0);
}

.swiper-pagination-bullet-active {
    background-color: #18a058 !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: #18a058 !important;
}